@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: none;
}

/* INICIO DE LA WEB */

ul {
    padding-left: unset;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: url('./resources/BannerEjemplo.png');
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

header  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid #033076;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0844a4;
    text-align: center;
}

.nav__links li {
    justify-content: space-evenly;
    padding: 4px;
    border-color: #033076;
    width: 100%;
    border: 4px solid #033076;
}



.hamburguesa {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/*-----MINI-SECCION NOTICIAS*/

.noticiasImportante{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.noticiasImportante p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    height: auto;
    width: auto;
    color: white;
    text-align: center;
}

.noticiasImportante button a{
    background-color: white;
    color: fuchsia;
    font-family: 'AR One Sans';
    font-size: 14px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.5em 1em;
    margin: 0.25em;
    border: none;
    outline: none;
    text-decoration: none;
}

.noticiasImportante button a:hover{
    background: #dddd
}

#cajaNoticiaImagen {
    background-image: url(../resources/milkyway.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: auto;
    width: 100%;
    border: 0px;
    margin-top: 120px;
}

.div_titulo_ultimasnoticias {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

.btn_index {
box-sizing: border-box;
padding: 8px 24px;
margin-bottom: 15px;
color: #ff008c;
background: white;
border: 0;
cursor: pointer;
font-size: 14px;
font-weight: 500;
border-radius: 30px;
}

.btn_index:hover{
    background: #ff008c;
    color: white;
}



/* --mini-noticia-- */

.feedNoticia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feedNoticia .miniNoticia{
    width: 300px;
    height: 300px;
    background-color: fuchsia;
}

.miniNoticia h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-top: 25px;
    text-align: center;
}

.miniNoticia p{
    margin: 50px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-align: center;
}

.miniNoticia:first-of-type {
    background-image: url(../resources/Mars.jpg);
    background-size: cover;
}

.miniNoticia:nth-of-type(2) {
    background-image: url(../resources/perseverance.jpg);
    background-size: cover;
    background-position: center;
}


.miniNoticia:last-of-type {
    background-image: url(../resources/SpaceX.jpg);
    background-size: cover;
    background-position: center;
}


/* --fin-mini-noticia-- */

/* ----catalogo DEL inicio---- */

.inicio_catalogo {
    margin-top: 50px;
    margin-bottom: 15px;
}

.inicio_catalogo h1 {
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 900;
    text-align: center;
}

.inicio_catalogo p {
    font-family: 'AR One Sans';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
}

.inicio__planetas {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-gap: 3em;
    background-color: white;
    height: auto;
}

.inicio__planetas li {
    border: 3px solid black;
    background-color: white;
    width: 100%;    
}

.inicio__planetas h3 {
    text-align: center;
    color: black;
    background-color: white;
}


/* FIN INICIO DE WEB */





/* -----FOOTER----- */

footer {
    background-color: rgb(0, 144, 188);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* -----FIN FOOTER----- */

/*CONTACTO*/
#sobreNosotros{
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

main section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}

main section p{
    font-family: 'Poppins', sans-serif;                 
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}

/* section form input{

} */



/*NOTICIAS*/

.Noticias article {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
}

.Noticias article h2{
    text-align: left;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.Noticias p{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    width: 80%;
}

.noticia_link p i {
    font-weight: 900;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.noticia_link a {
    font-size: 14px;
    text-decoration: none;
    color: #ff008c;
    margin-left: 5px;
}

.Noticias img:first-of-type {
    background-image: url(../resources/Europa.jpg);
    background-size: cover;
    justify-items: center;
    width: 833px;
    height: 433px;
    margin: auto;
}

.Noticias img:nth-of-type(2) {
    background-image: url(../resources/earth.jpg);
    background-size: cover;
    justify-content: center;
    width: 833px;
    height: 433px;
    margin: auto;
}


/* ----ARTICULO NOTICIA---- */

.noticia_titulo {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.noticia_titulo h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 48px;
}

.noticia_imagen{
    display: flex;
    margin: 40px;
}

.noticia_imagen img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.noticia_parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.noticia_parrafo p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    margin-bottom: 30px;
}


























/* ------CATALOGO------ */



img{
    max-width: 100%;
}

.gallery img {
    background-color: black;
    padding: 4px;
    /* border-bottom: 20px solid fuchsia; */
    width: 100%;
    height: auto;
}

.gallery {
    background-color: rgb(220, 220, 220);
    padding: 80px 0;
    margin: 5px;
}

.descripcion {
    font-family: 'Montserrat';
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: 4px solid black;
    border-top: 0px;
}



/* ------FIN CATALOGO------ */





/* -----WIKI del PLANETA----- */

.wiki{
    margin: 15px 40px 0px 40px;  
    border: 2px solid black;
    height: auto;
    /* display: flex;
    justify-content: center; */
    background-color: lightblue;
}

.wiki_titulo {
    display: flex;
    justify-content: center;
}

.wiki_titulo h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: aqua;
    border: 6px solid black;

    /* top: 70px;
    left: 240px; */
}

.container_imgWiki {
    display: flex;
}

.wiki_imagenDefault {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: auto;
    /* left: 100px; */
    position: absolute;
}

.container_wiki {
    display: flex;
    height: 1000px;
}

.wiki_info {
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    height: 25%;
    margin-left: 525px;
    margin-top: 100px;
    gap: 20px;
}

.wiki_info ul {
    color: black;
    
}

.wiki_info li {
    color: black;
    margin: 5px;
}

.wiki_datos li {
    color: black;
    margin: 5px;
}

.wiki_datos {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45%;
    height: 35%;
    text-align: center;
    gap: 20px;
}

.wiki_info_extra {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    height: 20%;
    width: 45%;
    gap: 20px;
    /* width: 40%; */
}

.wiki_info_extra li {
    color: black;
    margin: 5px;
}

.wiki_info_extra_2 {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 20px;
    width: 45%;
    height: 20%;
    /* margin-left: 800px; */
}

.wiki_info_extra_2 li {
    color: black;
    margin: 5px;
}

.wiki_descripcion {
    border: 2px solid black;
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
}

.wiki_descripcion h4 {
    font-size: 20px;
    text-align: center;
}

.wiki_descripcion p {
    font-size: 18px;
    text-align: center;
}

div #recomendados {
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.lista_recomendada {
    padding: 0px 300px 50px 300px;
}






.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 100%;
}

.search:focus-within{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.search_input{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search_input::placeholder{
    color: rgba(0, 0, 0, 0.25);
}

.container_btn{
    box-sizing: border-box;
    width: 10%;
    height: 4vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1600px;
}

.btn {
    box-sizing: border-box;
    padding: 10px 60px;
    background: #ff008c;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
}

.popup {
    box-sizing: border-box;
    width: 640px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    border: 3px solid black;
}

.popup p {
    font-weight: 800;
}

.popup h2 {
    box-sizing: border-box;
    font-size: 36px;

    margin: 20px 0 10px;
}

.popup button {
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: greenyellow;
    color: #0844a4;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}



































/*MEDIA QUERY - MOBILE */









@media (min-width:375px) and (max-width:576px){ /*and (orientation:portrait/landscape) */

    header {
        background: url('./resources/BannerEjemplo.png');
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 136px;
    }

    header img {
        width: 100%;
        height: 136px;
        object-fit: cover;
        margin-right: auto;
    }

    header  nav {
        position: absolute;
        width: 100%;
        top: 105px;
        left: 0;
    }

    .nav__links li {
        padding: unset;
        font-weight: 300;
        font-size: 14px;
        border: 2px solid #033076;
    }


    .hamburguesa{
        display: block;
    }

    .hamburguesa.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguesa.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguesa.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .noticiasImportante h2{
        font-size: 22px;
    }

    .noticiasImportante {
        height: auto;
        width: auto;
        justify-content: center;
        margin-bottom: unset;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .noticiasImportante p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        height: auto;
        width: auto;
    }

    .noticiasImportante button a{
        background-color: white;
        color: fuchsia;
    }

    #cajaNoticiaImagen {
        background-image: url(../resources/milkyway.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        height: auto;
        width: 100%;
        border: 0px;
        margin-top: 80px;
    }

    /* -----Apartado ULTIMAS NOTICIAS----- */

    .div_titulo_ultimasnoticias {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .feedNoticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .miniNoticia{
        width: 300px;
        height: 300px;
        justify-content: center;
        margin: 1rem;
    }

    .miniNoticia h2 {
        font-size: 22px;
        margin: 25px 16px;
    }

    .miniNoticia:first-of-type {
        background-image: url(../resources/Mars.jpg);
        justify-content: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .miniNoticia:nth-of-type(2) {
        background-image: url(../resources/perseverance.jpg);
        background-position: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }


    .miniNoticia:last-of-type {
        background-image: url(../resources/SpaceX.jpg);
        background-position: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .miniNoticia p{
        margin: 35px 24px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* -----FIN apartado ULTIMAS NOTICIAS----- */



    /* -----Catalogo INICIO----- */

    .inicio__planetas {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        height: auto;
    }

    .inicio__planetas li {
        border: 2px solid black;
    }

    .inicio__planetas h3 {
        text-align: center;
    }

    .inicio__planetas img{
        max-width: 100%;
        height: auto;
    }


    /* -----FIN Catalogo INICIO----- */




    body {
        /* overflow: hidden; */
    }

    /*CONTACTO*/
    #sobreNosotros{
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

main section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

main section p{
    font-family: 'Poppins', sans-serif;                
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}

input {
    padding: 3px;
    margin: 3px;
    width: 90%;
}

textarea {
    margin-top: 5px;
    width: 90%;
}

/* -----FOOTER----- */

    footer {
        flex-direction: column;
        align-items: center;
    }
    footer p {
        text-align: center;
    }
    li, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    list-style-type: none;
}

/* -----FIN FOOTER----- */

.noticias article {
    margin-top: 16px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
}

.noticias article h2{
    text-align: left;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.Noticias p{
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    width: 90%;
}

.noticia_link{
    margin-bottom: 30px;
}

.noticia_link p i {
    font-weight: 900;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.noticia_link a {
    font-size: 14px;
    text-decoration: none;
    color: #ff008c;
    margin-left: 5px;
}

.Noticias img:first-of-type {
    background-image: url(../resources/Europa.jpg);
    background-size: cover;
    justify-items: center;
    width: 416.5px;
    height: 216.5px;
    margin: auto;
}

.Noticias img:nth-of-type(2) {
    background-image: url(../resources/earth.jpg);
    background-size: cover;
    justify-content: center;
    margin: auto;
}

.noticia_titulo {
    height: auto;
}

.noticia_titulo h1{
    font-size: 36px;
}

.noticia_imagen {
    width: 100%;
    height: 200px;
    margin: unset;
}

.noticia_imagen img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.noticia_parrafo {
    width: 100%;
}

.noticia_parrafo p{
    font-size: 16px;
    width: 100%;
    text-align: center;
}






















.hola {
    padding: unset;
}
























































/*MEDIA QUERY - TABLET PEQUEÑA/VERTICAL (parada))*/
@media (min-width: 580px) and (max-width:1020px){

    header {
        background: url('./resources/BannerEjemplo.png');
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-right: auto;
    }

    header  nav {
        display: none;
    }

    .nav__links {
        display: none;
    }

    .nav__links li {
        display: none;
    }

    .noticiasImportante h2{
        font-size: 22px;
    }

    .noticiasImportante {
        height: auto;
        display: flex;
        width: auto;
        justify-content: center;
        margin-bottom: unset;
        margin-left: unset;
        margin-right: unset;
    }

    .noticiasImportante p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        height: auto;
        width: auto;
    }

    .noticiasImportante button a{
        background-color: white;
        color: fuchsia;
        font-family: 'AR One Sans';
        font-size: 14px;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.5em 1em;
        margin: 0.25em;
        border: none;
        outline: none;
        text-decoration: none;
    }

    #cajaNoticiaImagen {
        background-image: url(../resources/pexels-felix-mittermeier-956999.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        height: auto;
        width: 100%;
        border: 0px;
        margin-top: 80px;
    }

    /* -----Apartado ULTIMAS NOTICIAS----- */

    .div_titulo_ultimasnoticias {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin-top: 60px;
    }

    .feedNoticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .miniNoticia{
        padding: 25px;
        width: 300px;
        height: 300px;
        justify-content: center;
        margin: 1rem;
    }

    .miniNoticia

    .miniNoticia h2 {
        font-size: 20px;
        margin-top: 25px;
    }

    .miniNoticia:first-of-type {
        background-image: url(../resources/Mars.jpg);
        justify-content: center;
    }

    .miniNoticia:nth-of-type(2) {
        background-image: url(../resources/perseverance.jpg);
        background-position: center;
    }


    .miniNoticia:last-of-type {
        background-image: url(../resources/SpaceX.jpg);
        background-position: center;
    }

    .miniNoticia p{
        margin: 50px 40px;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* -----FIN apartado ULTIMAS NOTICIAS----- */



    /* -----Catalogo INICIO----- */

    .inicio__planetas {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-column-gap: 10px;
        background-color: white;
        height: auto;
    }

    .inicio__planetas li {
        border: 2px solid black;
        height: auto;
    }

    .inicio__planetas h3 {
        text-align: center;
        height: auto;
    }

    .inicio__planetas img{
        max-width: 100%;
        height: auto;
    }

    /*CONTACTO*/

    #sobreNosotros{
    padding: 10px;
    font-size: 24px;
    font-weight: 900;
}

main .contacto h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}

main .contacto p{
    font-family: 'Poppins', sans-serif;    
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}




.hola {
    padding: unset;
}







    footer {
        background-color: fuchsia;
    }
}

/*MEDIA QUERY - TABLET GRANDE/HORIZONTAL (acostada)*/
@media (min-width: 1024px) and (max-width:1200px){
    footer {
        background-color: springgreen;
    }
}

/*MEDIA QUERY - LAPTOP*/
@media (min-width: 1200px) and (max-width:1440px){
    footer {
        background-color: red;
    }
}
}