@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Montserrat-Regular.ttf);
}

* { 
    margin: 0;
    padding: 0;
    background-color: none;
}

/* INICIO DE LA WEB */

ul {
    background-color: #033076;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    background-color: #0844a4;
    border-color: #033076;
    display: inline;
}

header {
    background: url('./resources/BannerEjemplo.png');
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

header  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid #033076;
}

.nav__links {
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0844a4;
    text-align: center;
}

.nav__links li {
    justify-content: space-evenly;
    padding: 4px;
    border-color: #033076;
    width: 100%;
    border-right: 4px solid #033076;
}


/* .overlay-texto h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: white;
} */

/*-----MINI-SECCION NOTICIAS*/

.noticiasImportante{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.noticiasImportante p {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    height: auto;
    width: auto;
    color: white;
    text-align: center;
}

.noticiasImportante button a{
    background-color: white;
    color: fuchsia;
    font-family: 'AR One Sans';
    font-size: 14px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.5em 1em;
    margin: 0.25em;
    border: none;
    outline: none;
    text-decoration: none;
}

.noticiasImportante button a:hover{
    background: #dddd
}

#cajaNoticiaImagen {
    background-image: url(../resources/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: auto;
    width: 100%;
    border: 0px;
    margin-top: 120px;
}

.div_titulo_ultimasnoticias {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 75px;
}

.feedNoticia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.feedNoticia .miniNoticia{              
    width: 300px;
    height: 300px;
    background-color: fuchsia;
}

.miniNoticia h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-top: 25px;
    text-align: center;
}

.miniNoticia:first-of-type {
    background-image: url(../resources/Mars.jpg);
    background-size: cover;
}

.miniNoticia:nth-of-type(2) {
    background-image: url(../resources/perseverance.jpg);
    background-size: cover;
    background-position: center;
}


.miniNoticia:last-of-type {
    background-image: url(../resources/SpaceX.jpg);
    background-size: cover;
    background-position: center;
}

.miniNoticia p{
    margin: 50px 40px;                    
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: white;
    text-align: center;
}

/* FIN INICIO DE WEB */

footer {
    background-color: rgb(0, 144, 188);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*CONTACTO*/
#sobreNosotros{
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

main section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}

main section p{
    font-family: 'Poppins', sans-serif;                   /*ARREGLAR EL FORM*/
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}

/* section form input{
    
} */



/*NOTICIAS*/

.Noticias article {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 60px;
    margin-right: 150px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
}

.Noticias article h2{
    font-size: 36px;
    margin-right: 1800px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.Noticias article p{
    color: red;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-right: 1000px;
}

.Noticias img:first-of-type {
    background-image: url(../resources/Europa.jpg);
    background-size: cover;
    justify-items: center;
    width: 833px;
    height: 433px;
    margin: auto;
}

.Noticias img:nth-of-type(2) {
    background-image: url(../resources/earth.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    width: 833px;
    height: 433px;
    margin: auto;
}

.inicio_catalogo {
    margin-top: 50px;
    margin-bottom: 15px;
}

.inicio_catalogo h1 {
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 900;
    text-align: center;
}

.inicio_catalogo p {
    font-family: 'AR One Sans';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 25px;
}

.inicio__planetas {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-gap: 3em;
    background-color: white;
    height: auto;
}

.inicio__planetas li {
    border: 2px solid black;
    background-color: white;
}

.inicio__planetas h3 {
    text-align: center;
    color: black;
    background-color: white;
}


------CATALOGO------

.grid__planetas {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 3em;
}

.inicio__planetas img{
    max-width: 100%;
    height: 200px;
}

.bk-blue {
    background-color: lightskyblue;
    height: 100vh;
}







/*MEDIA QUERY - MOBILE */
@media (min-width:375px) and (max-width:576px){ /*and (orientation:portrait/landscape) */
  
    header {
        background: url('./resources/BannerEjemplo.png');
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    header img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-right: auto;
    }
    
    header  nav {
        display: none;
    }
    
    .nav__links {
        display: none;
    }
    
    .nav__links li {
        display: none;
    }

    .noticiasImportante h2{
        font-size: 22px;
    }
    
    .noticiasImportante {
        height: auto;
        width: auto;
        justify-content: center;
        margin-bottom: unset;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .noticiasImportante p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        height: auto;
        width: auto;
    }
    
    .noticiasImportante button a{
        background-color: white;
        color: fuchsia;
        font-family: 'AR One Sans';
        font-size: 14px;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.5em 1em;
        margin: 0.25em;
        border: none;
        outline: none;
        text-decoration: none;
    }
    
    #cajaNoticiaImagen {
        background-image: url(../resources/pexels-felix-mittermeier-956999.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        height: auto;
        width: 100%;
        border: 0px;
        margin-top: 80px;
    }

    /* -----Apartado ULTIMAS NOTICIAS----- */

    .div_titulo_ultimasnoticias {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin-top: 60px;
    }
    
    .feedNoticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .feedNoticia .miniNoticia{
        padding: 25px;              
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    
    .miniNoticia h2 {
        font-size: 22px;
        margin-top: 25px;
    }
    
    .miniNoticia:first-of-type {
        background-image: url(../resources/Mars.jpg);
        justify-content: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .miniNoticia:nth-of-type(2) {
        background-image: url(../resources/perseverance.jpg);
        background-position: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .miniNoticia:last-of-type {
        background-image: url(../resources/SpaceX.jpg);
        background-position: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .miniNoticia p{
        margin: 50px 40px;                    
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* -----FIN apartado ULTIMAS NOTICIAS----- */


    
    /* -----Catalogo INICIO----- */
   
    .inicio__planetas {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        height: auto;
    }
    
    .inicio__planetas li {
        border: 2px solid black;
    }
    
    .inicio__planetas h3 {
        text-align: center;
    }
    
    .inicio__planetas img{
        max-width: 100%;
        height: auto;
    }
    
    
    /* -----FIN Catalogo INICIO----- */

   
   
   
    body {
        /* overflow: hidden; */
    }
    
    /*CONTACTO*/
    #sobreNosotros{
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 900;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

main section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

main section p{
    font-family: 'Poppins', sans-serif;                   /*ARREGLAR EL FORM*/
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}

input {
    padding: 3px;
    margin: 3px;
    width: 90%;
}

textarea {
    margin-top: 5px;
    width: 90%;
}
    
    

    footer {
        flex-direction: column;
        align-items: center;
    }
    footer p {
        text-align: center;
    }
    li, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    list-style-type: none;
    background-color: #0844a4;
    border-color: #033076;
}
}









/*MEDIA QUERY - TABLET PEQUEÑA/VERTICAL (parada))*/
@media (min-width: 580px) and (max-width:1020px){
   
    header {
        background: url('./resources/BannerEjemplo.png');
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    header img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-right: auto;
    }
    
    header  nav {
        display: none;
    }
    
    .nav__links {
        display: none;
    }
    
    .nav__links li {
        display: none;
    }

    .noticiasImportante h2{
        font-size: 22px;
    }
    
    .noticiasImportante {
        height: auto;
        display: flex;
        width: auto;
        justify-content: center;
        margin-bottom: unset;
        margin-left: unset;
        margin-right: unset;
    }
    
    .noticiasImportante p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
        height: auto;
        width: auto;
    }
    
    .noticiasImportante button a{
        background-color: white;
        color: fuchsia;
        font-family: 'AR One Sans';
        font-size: 14px;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.5em 1em;
        margin: 0.25em;
        border: none;
        outline: none;
        text-decoration: none;
    }
    
    #cajaNoticiaImagen {
        background-image: url(../resources/pexels-felix-mittermeier-956999.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        height: auto;
        width: 100%;
        border: 0px;
        margin-top: 80px;
    }

    /* -----Apartado ULTIMAS NOTICIAS----- */

    .div_titulo_ultimasnoticias {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        margin-top: 60px;
    }
    
    .feedNoticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .feedNoticia .miniNoticia{
        padding: 25px;              
        width: 300px;
        height: 300px;
        justify-content: center;
    }
    
    .miniNoticia h2 {
        font-size: 20px;
        margin-top: 25px;
    }
    
    .miniNoticia:first-of-type {
        background-image: url(../resources/Mars.jpg);
        justify-content: center;
    }
    
    .miniNoticia:nth-of-type(2) {
        background-image: url(../resources/perseverance.jpg);
        background-position: center;
    }
    
    
    .miniNoticia:last-of-type {
        background-image: url(../resources/SpaceX.jpg);
        background-position: center;
    }
    
    .miniNoticia p{
        margin: 50px 40px;                    
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        font-weight: 900;
        color: white;
        text-align: center;
    }

    /* -----FIN apartado ULTIMAS NOTICIAS----- */


    
    /* -----Catalogo INICIO----- */
   
    .inicio__planetas {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        grid-column-gap: 10px;
        background-color: white;
        height: auto;
    }
    
    .inicio__planetas li {
        border: 2px solid black;
        height: auto;
    }
    
    .inicio__planetas h3 {
        text-align: center;
        height: auto;
    }
    
    .inicio__planetas img{
        max-width: 100%;
        height: auto;
    }
   
    /*CONTACTO*/

    #sobreNosotros{
    padding: 10px;
    font-size: 24px;
    font-weight: 900;
}

main section h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}

main section p{
    font-family: 'Poppins', sans-serif;                   /*ARREGLAR EL FORM*/
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

div .formularioContacto {
    display: block;
    text-align: center;
}

.formularioContacto {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    text-align: left;
}











    
    footer {
        background-color: fuchsia;
    }
}

/*MEDIA QUERY - TABLET GRANDE/HORIZONTAL (acostada)*/
@media (min-width: 1024px) and (max-width:1200px){
    footer {
        background-color: springgreen;
    }
}

/*MEDIA QUERY - LAPTOP*/
@media (min-width: 1200px) and (max-width:1440px){
    footer {
        background-color: red;
    }
}
